@font-face {
  font-family: "Eurostile LT Std - Demi";
  src: url(../fonts/Eurostile-LT-Std-Demi_16310.ttf);
}

@font-face {
  font-family: "Eurostile LT Std";
  src: url(../fonts/EurostileLTStd.otf);
}