$h-top-panel-height: 52px;
$h-bot-panel-height: 80px;
$h-bg-img-height: 590px;
$h-cust-el-img-p-l: 6px;

$content-width: 1200px;

//Modal variables

$modal-w: 588px;
$modal-h: 295px;
$modal-margin-top: 95px;
$modal-text-padding: 63px 70px 0 30px;

//Modal-button-variables

$m-button-w: 205px;
$m-button-h: 57px;
$m-button-margin: 26px 22px;

//Find-franchise

$ff-height: 130px;