.header{
  &__bg-img--fr{
    background-image: url("../img/fr-bg.png");
    height: 264px;

    @media (max-width: 800px) {
      height: 236px;
    }

    @media (max-width: 560px) {
      height: 214px;
    }
  }
}

.find-franchise{

  &__content--fr{
    width: $content-width;
    justify-content: space-between;

    @media (max-width: 1280px) {
      width: 90%;
    }
  }

  &__text--fr{
    padding: 0;
  }
}