.get-started{

  &__content{
    width: $content-width;
    margin: 0 auto 52px;

    @media (max-width: 1280px) {
      width: 90%;
    }
  }

  &__title{
    color: #db302c;
    font-family: "Eurostile LT Std - Demi", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 48px 0 5px 0;
  }

  &__description{
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    width: 440px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 560px) {
      display: none;
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item{
    width: 384px;
    height: 244px;
    display: flex;
    align-items: flex-end;

    @media (max-width: 1280px) {
      margin: 0 5px;
    }

    @media (max-width: 1024px) {
      height: 166px;
      background-size: cover;
    }

    @media (max-width: 800px) {
      margin-bottom: 20px;
      width: 520px;
      height: 254px;
    }

    @media (max-width: 560px) {
      margin-left: 15px;
      margin-right: 15px;
      width: 100%;
      height: 200px;
    }

    &--1{
      background-image: url("../img/residential.png");
    }

    &--2{
      background-image: url("../img/commercial.png");
    }

    &--3{
      background-image: url("../img/insurance.png");
    }

    &__title{
      width: 100%;
      height: 41px;
      background-color: $color-gold;
      color: $color-black;
      transition: color 0.5s, background-color 0.5s, fill .5s;

      &:hover{
        background-color: #db302c;
        color: $color-white;
        fill: $color-white;
      }
    }

    &__link{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }

    &__text{
      font-family: "Eurostile LT Std - Demi", sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding-left: 17px;
      padding-top: 4px;
    }

    &__icon{
      width: 7px;
      padding-left: 14px;
      fill: inherit;
    }
  }
}