.header{
  &__panel{

    &--top{
      background-color: $color-black;
      height: $h-top-panel-height;

      @media (max-width: 800px) {
        height: 100%;
      }
    }

    &--bottom{
      background-color: $color-black60;
      height: $h-bot-panel-height;

      @media (max-width: 800px) {
        height: 100px;
      }
    }

    &__content{
      width: $content-width;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1280px) {
        width: 90%;
      }

      @media (max-width: 800px) {
        align-items: flex-start;
      }

      @media (max-width: 560px) {
        width: 96%;
      }
    }
  }

  &__custom-element{

    @media (max-width: 800px) {
      margin: 8px 0;
    }

    &__link{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
        color: $color-gold;
      }
    }
    
    &__text{
      color: $color-gold;
      font-family: Helvetica, sans-serif;
      font-size: 13.5px;
      font-weight: 700;
      padding-left: 2px;
      line-height: 18px;

      @media (max-width: 560px) {
        font-size: 12px;
      }
    }
    &__img{
      padding-left: $h-cust-el-img-p-l;
      fill: $color-gold;

      @media (max-width: 560px) {
        padding-left: 0;
      }
    }
  }

  &__menu{

    &__burger_1{
      display: none;
      text-align: right;
      font-family: Helvetica, sans-serif;
      font-weight: 700;
      color: $color-white;
      width: 74px;
      cursor: pointer;
      margin: 8px 0 8px auto;

      @media (max-width: 800px) {
        display: block;
      }
    }

    &__burger_2{
      display: none;
      text-align: right;
      cursor: pointer;
      width: 35px;
      margin: 36px 0 8px auto;

      &:after, &:before, & div{
        background-color: #fff;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      @media (max-width: 800px) {
        display: block;
      }
    }

    &--main{
      width: 368px;
      font-size: 13.5px;

      @media (max-width: 800px) {
        width: auto;
      }
    }

    &--secondary{
      width: 906px;
      font-size: 16px;

      @media (max-width: 1280px) {
        width: 70%;
        font-size: 14px;
      }

      @media (max-width: 800px) {
        width: auto;
      }

      &.clicked .header__menu__item-list--secondary{
        display: block;
      }

      &.clicked .header__menu__burger_2{
        &:before{
          transform: translateY(12px) rotate(135deg);
          -moz-transform: translateY(12px) rotate(135deg);
          -webkit-transform: translateY(12px) rotate(135deg);
        }

        &:after{
          transform: translateY(-12px) rotate(-135deg);
          -moz-transform: translateY(-12px) rotate(-135deg);
          -webkit-transform: translateY(-12px) rotate(-135deg);
        }

        & div{
          -moz-transform: scale(0);
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }

    }

    &__item-list{
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;

      &--main{
        margin: 18px 0;

        @media (max-width: 800px) {
          margin: 6px 38px 6px 0;
          text-align: right;
          display: none;
        }

        &.active{
          display: block;
        }
      }

      &--secondary{
        @media (max-width: 800px) {
          display: none;
          margin: 0;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 5px;
        }
      }
    }

    &__item{
      font-family: Helvetica, sans-serif;
      font-weight: 700;
      display: inline-block;
      position: relative;
      color: $color-white;
      transition: color 0.5s;
      margin: 0;

      @media (max-width: 1024px) {
        padding-left: 8px;
      }

      @media (max-width: 800px) {
        margin: 4px 0;
        display: block;
      }

      &.active{
        color: #db302c;
      }

      &:hover{
        color: #db302c;
      }

      &--sub{
        &:hover{

          & .sub-menu{
            display: block;
          }
        }
      }
    }

    & a{
      color: inherit;
      text-decoration: none;
    }
  }

  &__logo{
    margin: 4px 0 0;
    max-width: 198px;
    max-height: 73px;
  }

  &__bg-img{
    background-image: url("../img/main-bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: $h-bg-img-height;

    @media (max-width: 1024px) {
      height: 414px;
    }

    @media (max-width: 800px) {
      height: 236px;
    }

    @media (max-width: 560px) {
      height: 214px;
    }
  }
}

.sub-menu{
  width: 160px;
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  background: #ffffff;
  left: -80px;
  bottom: -44px;
  z-index: 1;
  border: 1px solid black;
  border-top: 10px solid black;

  & li{
    padding: 10px;
    color: $color-black;
    margin: 0;

    &:hover{
      color: #db302c;
    }

    &.active{
      color: #db302c;
    }
  }
}